
.terraform/                       # provider & module downloads
./examples/private/.terraform.tfstate.lock.info      # local state lock file
./examples/private/.terraform

terraform.tfstate
terraform.tfstate.*
*.tfstate
*.tfstate.*


*.tfplan
plan.out


crash.log
crash.*.log


*.tfvars
*.tfvars.json
*.auto.tfvars
*.auto.tfvars.json


backend.hcl
backend.tfvars


.env
.env.*


*.backup


.DS_Store
Thumbs.db
.idea/
.vscode/
examples/private/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.3/darwin_arm64/LICENSE.txt
examples/private/.terraform/providers/registry.terraform.io/hashicorp/random/3.7.2/darwin_arm64/LICENSE.txt
examples/private/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.45.0/darwin_arm64/LICENSE.txt
.gitignore
.terraform/providers/registry.terraform.io/hashicorp/random/3.7.2/darwin_arm64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.45.0/darwin_arm64/LICENSE.txt
.terraform/providers/registry.terraform.io/azure/modtm/0.3.5/darwin_arm64/terraform-provider-modtm_v0.3.5
.terraform/providers/registry.terraform.io/azure/azapi/2.6.1/darwin_arm64/terraform-provider-azapi_v2.6.1
.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.45.0/darwin_arm64/terraform-provider-azurerm_v4.45.0_x5
.gitignore
examples/private/.terraform/providers/registry.terraform.io/azure/modtm/0.3.5/darwin_arm64/terraform-provider-modtm_v0.3.5
examples/private/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.45.0/darwin_arm64/terraform-provider-azurerm_v4.45.0_x5
examples/private/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.3/darwin_arm64/terraform-provider-local_v2.5.3_x5
examples/private/.terraform/providers/registry.terraform.io/hashicorp/random/3.7.2/darwin_arm64/terraform-provider-random_v3.7.2_x5
examples/private/.terraform/providers/registry.terraform.io/azure/azapi/2.6.1/darwin_arm64/terraform-provider-azapi_v2.6.1
.terraform/providers/registry.terraform.io/hashicorp/random/3.7.2/darwin_arm64/terraform-provider-random_v3.7.2_x5
