
.terraform/                       # provider & module downloads
.terraform/*
./Backup
./Backup/*

terraform.tfstate
terraform.tfstate.*
*.tfstate
*.tfstate.*


*.tfplan
plan.out


crash.log
crash.*.log


*.tfvars
*.tfvars.json
*.auto.tfvars
*.auto.tfvars.json


backend.hcl
backend.tfvars


.env
.env.*


*.backup


.DS_Store
Thumbs.db
.idea/
.vscode/
.gitignore
